body {
    background: linear-gradient(rgba(98, 97, 97, 0.729), #473c47cc), url("https://res.cloudinary.com/dtsbfqkeh/image/upload/v1676300646/static/images/raizalduo.a30e22ef8957.jpg")
}


/*** nav-bar style ***/


.container-fluid1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
}


.navbar-light .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff')
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, .1);
}


.nav-heading {
    font-weight: 900;
    font-family: "Caveat";
    color: rgb(176, 67, 67);
    font-size: 60px;
    margin: 0px 0px 0px 25px;

}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* index.html style */

.text {

    text-align: center;
    margin: 0px auto;

}

p {
    color: #f7f3f3;
    font-weight: 500;
    font-size: 27px;
    font-family: "Caveat";
    margin: 0px auto;
    margin-bottom: 10px;
}


/* video style */
.main-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 600px;
}

/* heading style */
.heading {
    color: #f4eded;
    text-transform: uppercase;
    font-family: "Caveat";
    font-weight: 900;
    font-size: 40px;
    text-align: center;

}

/* show section style */
.card {

    background-color: transparent;
}

.show-card {
    background-color: brown;
    width: auto;
    margin:0px auto;

}

.show {
    height: 300px;
}

.show-container {

    margin: 0px auto;
}


.list-group-item {

    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: rgb(176, 67, 67);
    border: 1px solid rgba(0, 0, 0, .125);
}


/* song post section */

.image-flash {
    text-align: center;

}

hr {
    border: 2px solid rgb(28, 27, 27);
    width: 100%;
    margin-top: 150px;
}

.image-flash:hover {
    transform: scale(1.1);
}

img {
    border-radius: 2%;
    border: 1px solid white;
    width: 350px;
    max-height: 450px;
    margin: 0px auto;


}


.song-title {
    color: #f5f2f2;
    text-transform: uppercase;
    font-family: "Caveat";
    font-size: 25px;
    font-weight: 900;
}




.song-link {
    text-decoration: none;
    color: #445261;
    border-radius: 50%;
}

/* sign up section */

.btn-signup {
    background-color: rgb(176, 67, 67);
    font-family: "Caveat";
    font-size: 25px;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #e5eeee;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}



/*** post_details.html style ***/

.video-margin {
    margin: 0px auto;
}

.card-body {
    flex: 1 1 auto;
}


.center {
    margin: 0px auto;
}

.title-music {
    color: #dbd6d6;
    text-transform: uppercase;
    font-family: "Caveat";
    font-size: 25px;
    font-weight: 900;

}

.text-secondary {
    color: #dbd6d6;
    text-transform: uppercase;
    font-family: "Caveat";

    font-weight: 900;

}


li>a {
    color: white;
}

.nav-link {
    font-family: "Caveat";
    font-size: 25px;
    font-weight: 800;
}

i {
    margin: 5px;
}

/* comments section style */
h3,
h5 {
    color: #b20808;
    font-size: 50px;
    font-family: "Caveat";

}

.comments {

    margin: 0px auto;

}

.comment-heading {
    font-weight: 900;
    font-family: "Caveat";
    color: rgb(238, 228, 228);
    font-size: 40px;
    margin: 0px 0px 0px 25px;

}


.button{
    font-family: "Caveat";
    background-color: transparent;
    font-size: 22px;
}


element.style {
}


textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
}

/****** messaging *****/

.message{
  height: 100px;
}



/*** media query ***/
@media(max-width:1280px) {
    .center {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 970px) {
    iframe {
        width: 480px;
    }

}

@media (max-width: 550px) {
    .video-secondary {
        display: flex;
    }
}


@media (max-width: 400px) {
    img {
        width: 250px;
    }

    .title-music {
        font-size: 20px;
    }


}

@media(max-width: 300px) {
    .video-secondary>iframe {
        width: 250px;
        height: 300px;
    }

    .nav-heading {
        font-size: 50px;

    }
}