{% extends 'base.html' %} 
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="masthead">
    <div class="container ">
         <div class="row">
           
            <div class="col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                    <iframe
                      src="https://www.facebook.com/plugins/video.php?height=295&amp;href=https%3A%2F%2Fwww.facebook.com%2Felizabeth.bujedo.3%2Fvideos%2F1018500445393361%2F&amp;show_text=false&amp;width=560&amp;t=0"  rel="preload"></iframe>
                     
                {% else %}
                    <iframe
                     src="https://www.facebook.com/plugins/video.php?height=295&amp;href=https%3A%2F%2Fwww.facebook.com%2Felizabeth.bujedo.3%2Fvideos%2F1018500445393361%2F&amp;show_text=false&amp;width=560&amp;t=0"  rel="preload"></iframe>
               
                {% endif %}
           
            </div>
            <div class="col-md-6">
                <!-- Post title goes in these h1 tags -->
                <h2 class=" title-music">{{ post.title }}</h2>
                
                
            </div>
            <div class="col mt-9">
                <!-- The number of likes goes before the closing strong tag -->
                <strong class="text-secondary text-white "><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
            </div>

        </div>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <!-- <p class="card-text ">
                    {{ post.content | safe }}
                </p> -->
                <div class="row">

                    
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3 class="author">Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}